<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Arquivo 1 camada</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body style="background-color: #FAFAFA;">
    <header>
        <b>Analisador de Amostras VNA |</b>
        <a href="/" class="btn">Home</a>
        <a href="/arquivoumacamada" class="btn">1 camada</a>
        <a href="/primeiroarquivoduo" class="btn">2 camadas</a>
        <a href="/primeiroarquivo" class="btn">3 camadas</a>
        <a href="/arquivocoaxial" class="btn">Coaxial</a>
        <a href="/gerarxml" class="btn">Gerar XML</a>
        <div class="images">
            <img src="{{ url_for('static', filename='images/logoINPE.png') }}" alt="Logotipo do INPE">
            <img src="{{ url_for('static', filename='images/logoFATEC.png') }}" alt="Logotipo da FATEC Taubate">
        </div>
    </header>
    <h2><b>Para gerar o arquivo XML, siga este passo:</b></h2>
    <h3>Qual é o arquivo .csv da sua amostra analisada no VNA?</h3>

    <form method='POST' enctype='multipart/form-data'>
        {{form.hidden_tag()}}
        {{form.file()}}
        {{form.submit()}}
    </form>
    <br/>
    <footer>
        <p>Agradecimento: PIBIC/CNPq processo nº 101700/2024-5 - Instituto Nacional de Pesquisas Espaciais</p>
        <p>Todos os direitos reservados</p>
    </footer>
</body>
</html>