<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Multicamadas</title>
</head>
<body>
    <h1>Selecione a opção desejada:</h1>
    <form action="/multicamadas" method="post">
        <button type="submit">Clique aqui para gráfico multicamadas</button> 
    </form>

    <form action="/menospontos" method="post">
        <button type="submit">Clique aqui para gráfico com menos pontos</button> 
    </form>
</body>
</html>