<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Analisador de Amostras VNA{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <header>
        <b>Analisador de Amostras VNA |</b>
        <a href="/" class="btn-link">Home</a>
        <a href="/enviar-arquivo" class="btn-link">1 camada</a>
        <div class="images">
            <img src="{{ url_for('static', filename='images/logoINPE.png') }}" alt="Logotipo do INPE">
            <img src="{{ url_for('static', filename='images/logoFATEC.png') }}" alt="Logotipo da FATEC Taubate">
        </div>
    </header>

    <main>
        {% block content %}{% endblock %}
    </main>

    <footer>
        <p>Agradecimento: PIBIC/CNPq processo nº 101700/2024-5 - Instituto Nacional de Pesquisas Espaciais</p>
        <p>Todos os direitos reservados &copy;</p>
    </footer>
</body>
</html>
