{% extends "base.html" %}

{% block title %}Gráfico - VNA{% endblock %}

{% block content %}
    <form action="{{ rota_informacoes }}" method="post">
        <button type="submit">Retornar ao menu</button>
    </form>
    <div class="grafico-container">
        <img src="{{ url_for('static', filename='images/graficos_gerados/' + nome_arquivo_imagem) }}">
    </div>
    <div class="controles-grafico">
        <h3>Curva de menor RL: Espessura {{ espessura_menor_rl }} mm</h3>
        <form action="{{ rota_grafico }}" method="post">
            <button type="submit">Baixar dados do gráfico</button>
        </form>
    </div>
{% endblock %}
