<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
</head>

<body>
    <header>
        <b>Analisador de Amostras VNA |</b>
        <a href="/" class="btn">Home</a>
        <a href="/arquivoumacamada" class="btn">1 camada</a>
        <a href="/primeiroarquivoduo" class="btn">2 camadas</a>
        <a href="/primeiroarquivo" class="btn">3 camadas</a>
        <a href="/arquivocoaxial" class="btn">Coaxial</a>
        <a href="/arquivocoaxial" class="btn">Coaxial</a>
        <a href="/gerarxml" class="btn">Gerar XML</a>
        <div class="images">
            <img src="{{ url_for('static', filename='images/logoINPE.png') }}" alt="Logotipo do INPE">
            <img src="{{ url_for('static', filename='images/logoFATEC.png') }}" alt="Logotipo da FATEC Taubate">
        </div>
    </header>

    <img src=\'data:image/png;base64,{}\'>'.format(encoded) + \

    <form action="{{ rota_grafico }}" method="post">
        <input type="hidden" name="hash_arquivo" value="{{ hash_arquivo }}">
        <input type="hidden" name="csv_filename" value="{{ csv_filename }}">
        <input type="hidden" name="txt_filename" value="{{ nome_arquivo_txt }}">
        <input type="hidden" name="undfrequencia" value="{{ undfrequencia }}">
        <input type="hidden" name="espamostra" value="{{ espamostra }}">
        <input type="hidden" name="baixar_grafico" value="1">
        <button type="submit">Baixar dados do gráfico</button>
    </form>

    <form action="{{ rota_informacoes }}" method="post">
        <input type="hidden" name="hash_arquivo" value="{{ hash_arquivo }}">
        <input type="hidden" name="csv_filename" value="{{ csv_filename }}">
        <button type="submit">Retornar ao menu</button>
    </form>
    <footer>
        <p>Agradecimento: PIBIC/CNPq processo nº 101700/2024-5 - Instituto Nacional de Pesquisas Espaciais</p>
        <p>Todos os direitos reservados</p>
    </footer>
</body>
</html>
