{% extends "base.html" %}

{% block title %}Home - Analisador de Amostras VNA{% endblock %}

{% block content %}
    <div class="apresentacao-ferramenta">
        <h1>Analisador de Amostras VNA</h1>
        <h2 class="texto-cinza">Selecione a opção correspondente à sua amostra:</h2>
    </div>

    <div class="links-container">
        <a href="/enviar-arquivo" class="link-home">Análise com 1 camada</a>
    </div>

    <div class="instrucoes-home">
        <h3>Verifique se o seu arquivo está na formatação correta:</h3>
        <p><b>1. </b>Formato .csv</p>
        <p><b>2. </b>Deve possuir 1616 linhas (incluso cabeçalho)</p>
        <p><b>3. </b>Cabeçalho como apresentado no exemplo abaixo</p>
        <img src="{{ url_for('static', filename='images/inicial.png') }}" alt="Imagem de exemplo">
    </div>
{% endblock %}
