{% extends "base.html" %}

{% block title %}Home - Analisador de Amostras VNA{% endblock %}

{% block content %}
    <div class="apresentacao-ferramenta">
        <h1>Analisador de Amostras VNA</h1>
        <h2>Ocorreu um erro ao processar seu arquivo</h2>
        <h2>Por favor, verifique se ele está na formatação correta:</h2>
        <h3><b>1. </b>Formato .csv</h3>
        <h3><b>2. </b>Deve possuir 1616 linhas (incluso cabeçalho)</h3>
        <h3><b>3. </b>Cabeçalho como apresentado no exemplo abaixo</h3>
        <img src="{{ url_for('static', filename='images/inicial.png') }}" alt="Imagem de exemplo">
    </div>
{% endblock %}
