{% extends "base.html" %}

{% block title %}Enviar Arquivo - VNA{% endblock %}

{% block content %}

    <div class="instrucoes-home">
        <h2>Selecione o arquivo CSV da amostra analisada no VNA</h2>
        
        <img src="{{ url_for('static', filename='images/simples.PNG') }}" alt="Descrição da Imagem"  width="640" height="360">

        <form method='POST' enctype='multipart/form-data'>
            {{form.hidden_tag()}}
            {{form.file()}}
            {{form.submit()}}
        </form>
    </div>
{% endblock %}