/* styles.css */
html,body{width: 100%;
height: 100%;
padding: 0;
margin: 0;}

header {
    background-color: #033c79; /* Azul */
    padding: 20px;
    text-align: left;
    color: #fff;
    font-family: 'Times New Roman', Times, serif;
    font-size: 27px;
}

.btn {
    background-color: #033c79;
    color: #fff;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    font-weight: bold;
    margin-right: 10px;
    cursor: pointer;
}

.btn:hover {
    background-color: #0056b3;
}

.images {
    position: absolute;
    display: inline-block;
    gap: 15px; /* Espaçamento entre as imagens */
    top: 6px;
    right: 15px;
}

.images img {
    height: 69px; /* Ajuste a altura conforme necessário */
    width: auto;
}

.custom_button {
    font-family: Arial, sans-serif;
    font-size: 18px;
    color: white;
    background-color: #007bff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.custom_button:hover {
    background-color: #0056b3;
}

.links-container {
    display: flex; /* Ativa o modo Flexbox */
    justify-content: center;
    gap: 20px; /* Adiciona um espaçamento entre os links */
}

.link {
    font-family: "Helvetica", Arial, sans-serif;
    font-size: 18px;
    text-decoration: none; /* Remove o sublinhado do link */
    color: white;
    background-color: #033c79;
    padding: 10px 20px;
    border-radius: 5px;
}

.link:hover {
    background-color: #0056b3;
}

.primeiro-centralizado {
    width: 50%;
    margin: auto; /* Centraliza horizontalmente */
    text-align: center; /* Centraliza o texto dentro deste contêiner */
    padding: 20px;
}

.segundo-centralizado {
    width: 50%;
    margin: auto; /* Centraliza horizontalmente */
    text-align: center; /* Centraliza o texto dentro deste contêiner */
    padding: 20px;
}

footer {
    background-color: #033c79; /* Azul escuro */
    color: white;
    text-align: center;
    padding: 1px;
    position: relative;
    bottom: 0;
}

.texto-cinza {
    color: rgb(54, 50, 50);
}