<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Redirecionando</title>
</head>
<body>
    <h1>Redirecionando...</h1>
    <form id="form_redirecionar" action="/informacoescoaxial" method='post' style="display: none;">
        <input type="hidden" name="hash_arquivo" value={{hash_arquivo}}>
        <input type="hidden" name="csv_filename" value={{csv_filename}}>
    </form>

    <script>
        document.getElementById("form_redirecionar").submit();
    </script>
</body>
</html>