<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Redirecionando</title>
</head>
<body>
    <h1>Redirecionando...</h1>
    <form id="form_redirecionar" action="/duascamadas" method='post' style="display: none;">
        <input type="hidden" name="hash_arquivo1" value={{hash_arquivo1}}>
        <input type="hidden" name="hash_arquivo2" value={{hash_arquivo2}}>
        <input type="hidden" name="csv_filename1" value={{csv_filename1}}>
        <input type="hidden" name="csv_filename2" value={{csv_filename2}}>
        <input type="hidden" name="espessura_amostra1" value={{espessura_amostra1}}>
        <input type="hidden" name="espessura_amostra2" value={{espessura_amostra2}}>
        <input type="hidden" name="inicio_slider" value="0.01">
        <input type="hidden" name="fim_slider" value="9.9">
        <input type="hidden" name="baixar_grafico" value="0">
        <input type="hidden" name="menos_pontos" value="0">
    </form>

    <script>
        document.getElementById("form_redirecionar").submit();
    </script>
</body>
</html>